body {
  background: rgb(116, 153, 116);
  color: black;
  font-family: 'ZCOOL KuaiLe', cursive;
}


/*Wavy Ocean*/
.vis {
  color: rgb(249, 249, 249);
  font-stretch: expanded;
  font-family: 'ZCOOL KuaiLe', cursive;

}




.bkgr {
  background-image: url(img/techlogos/sea.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(47, 51, 47, 0.3);
  padding: 20px;
  -webkit-animation-name: example; 
  -webkit-animation-duration: 4s;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-name: example;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  from {background-image: url(img/techlogos/sea.png);}
  to {background-image: url(img/techlogos/sea2.png);}
}

/* Standard syntax */
@keyframes example {
  from {background-image: url(img/techlogos/sea.png);}
  to {background-image: url(img/techlogos/sea2.png);}
}

h1 {
  text-decoration: underline;
}



.club {
  padding: 5px;
  width: 70px;
}


}

.container-fluid {
	display: inline-block;
	position: auto;
}

.me {
	padding: 5px;
    width: 300px;
    border-radius: 40px;

}

/*What I strive for*/

#about {

}

/*About*/
.header {
display: block;
padding-top: 20px;
text-align: center;
position: relative;
width: auto;

}


/*Qualities*/

.qualities {
width: 150px;
}

#qualities1 {
display: inline-block;
padding: 0px 5px;
text-align: center;
width: 100%;

}

#qualities2 {
display: inline-block;
padding: 0px 5px;
text-align: center;
width: 100%;

}


/*About me profile pic
*/





/*Tools of the trade*/

.tools {text-decoration: underline;}

.good {
	text-align: center; 
}

.techlogo {
    position: relative;
    display: inline-block;
    width:  auto;
    height: 50px;
    background-position: 50% 50%;
    background-size: cover;
    margin: 5px;
}

.high {
color: rgb(249, 249, 249);
font-stretch: expanded;
font-family: 'ZCOOL KuaiLe', cursive;
padding: 17px 0px 8px 0px;
}

/*Lets Make something special*/

.page-link {
  background-color: rgb(116, 153, 116);
  border: 0px;
  padding-bottom: 15px;
}

/*Contact me icons*/

.col{ 
 margin:15px 0 15px;
 color: rgb(249, 249, 249);
}


.cntct {
  text-align: center;
}

/*Fill in Boxes*/

#contact {
  padding-bottom: 60px;}


 
 /*Cluhouse footer
*/

.clubhouse {
  border-bottom: 5px solid black;
  background-color: rgba(220, 232, 220, 0.6);
  height: 90px;
